# Codeblocks project files
**.cbp
**.depend
**.layout

# Backup files
**~

# Compiled Object files
bin/**
obj/**
**.slo
**.lo
**.o

# Compiled Dynamic libraries
**.so

# Compiled Static libraries
**.lai
**.la
**.a
